body {
  font-family: monospace;
  margin: 2rem;
  font-size: 14px;
}

a {
  color: #2b8e6e;
}

a:hover {
  color: #59d7ae;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

ul li a {
  display: inline-block;
  padding: 3px 0;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}